body {
	width: 100%;
	background-color: whitesmoke;
	font-family: 'Poppins';
	font-size: 18px;
	color: #737373;
	/*! margin-left: 10%; */
	/*! margin-right: 10%; */
	/*! margin-right: 20%; */
	/*! margin-left: 20%; */
	margin: 0;
}

/*les icones*/
.fas 
{
	font-size: 30px;
	padding-left: 5px;
}

/*les liens*/
a 
{
	color: #737373;
}
/*passage sur les liens*/
a:hover 
{
	color: #adacac;
}
h1 span
{
	color: #455a64;
}
.trait_souligne
{
	
	width: 48%;
 	padding-top: 5px;
 	border-bottom: 1px solid #455a64;
}
.trait_souligne_section
{
	
	width: 96%;
 	padding-top: 5px;
 	border-bottom: 1px solid #455a64;
	margin-left: 5px;
}
/*formatage des titres*/
h1, h2, h3 
{
	margin: 0;
    text-transform: uppercase;
    text-align: left;
}
/*couleur et police de chaque titres*/
h1 
{
	font-size: 40px;
	font-weight: normal;
	color: #9e9e9e;
}

h2 
{
	width: 100%;
	font-size: 26px;
	font-weight: normal;
	color: #455a64;
}
.title h2
{
	padding-left: 40px;
}

h3 
{
	font-size: 22px;
	color: #455a64;
}
/*mise en forme header*/
.entete
{
	display: flex;
	/*! width: 100%; */
	/*! height: auto; */
}
.id_img
{
	width: 303px;
	display: flex;
	justify-content: center;
	align-items: center; 
	background-color: #feca07;
	height: 303px;
}
.id_img img
{
	width: 170px;
	height: 170px;
	border-radius: 50%;
	border: 2px solid #737373;
	 
}
/*mise en forme titre principal*/
.conteneur
{
	display: flex;
	/*! height: auto; */
	/*! flex-flow: row wrap; */
	width: 100%;
	/*! justify-content: center; */
}	
.conteneur .sous_titre
{
	
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 24px;
} 
.conteneur .identité
{
	/*! width: auto; */
	justify-content: center;
	display: flex;
	flex-direction: column;
	padding-left: 7%;
	background-color: whitesmoke;
}
/*mise en forme page principale*/
#principal
{
	display: flex;
	flex-direction: column;
}
#contenu
{
	display: flex;
	/*! height: auto; */
	/*! flex-flow: row wrap; */
	/*! width: 100%; */
}
/*mise en forme aside*/
.bloc_gauche
{
	display: flex;
	flex-direction: column;
	width: 22.6%;
	background-color: #feca07;
	/*! height: auto; */ /*!*/
	/*! padding-left: 15px; */
}
.bloc_gauche h2
{
	text-align: center;
	color: #feca07;
	background-color: #737373;
	width: 100%;
}
.apropos ,.contact, .loisirs
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	/*! height:33%; */
	/*! padding-left: 10%; */
	/*! padding-right: 10%; */
}
.contact p,.apropos p
{
	/*! padding-top: 10%; */
	/*! height: 80%; */
	padding-left: 10%;
	padding-right: 10%;
	/*! padding-bottom: %; */
}
.apropos p
{
	text-align: justify;
	width: 100px;
	width: 242px;
	height: 870px;
}
.contenu_loisirs
{
	display: flex;
	/*! margin-right: 30px; */
	justify-content: space-around;
	/*! margin-top: 30%; */
}
/*mise en forme section principale*/
.formations,.exp_pro,.compétences
{
	padding-left: 8%;
}
.formations .title
{
	display: flex;
}
.formations .container_list
{
	display: flex;
}
.formations .container_list .dates
{
	display: flex;
	flex-direction: column;
	width: 33%;
}
.formations .container_list .dates p
{
	margin-bottom: 0px;
	margin-top: 0px;
}
.formations .descr_list
{
	display: flex;
	flex-direction: column;
	width: 65%;
}
.formations .descr_list p
{
	margin-bottom: 5px;
	margin-top: 0px;
}
.formations .descr_list  p.arg
{
	margin-top: 0px;
	margin-bottom: 18px;
}
.exp_pro .title
{
	display: flex;
}
.exp_pro .container_list
{
	display: flex;
}
.exp_pro .container_list .dates
{
	display: flex;
	flex-direction: column;
	width: 33%;
}
.exp_pro .container_list .dates p
{
	margin-bottom: 0px;
	margin-top: 0px;	
}
.exp_pro .descr_list
{
	display: flex;
	flex-direction: column;
	width: 65%;
}
.exp_pro .descr_list p
{
	margin-bottom: 5px;
	margin-top: 0px;
}
.exp_pro .descr_list  p.descr
{
	margin-top: 0px;
	margin-bottom: 18px;
}
.compétences .title
{
	display: flex;
}
.compétences ul
{
	display: flex;
	justify-content: space-around;
}
.compétences li 
{
	/*! display: flex; */
	/*! flex-direction: column; */
	/*! justify-content: space-between; */
	list-style: none;
}
/*     Format tablette      */

@media screen and (max-width: 768px) {

	.id_img
	{
	 width: 769px;	
	 height: 200px;
	}
	.conteneur
	{
	flex-direction: column;
	align-items: center;
	}
	.sous_titre 
	{
	text-align: center;
	}
	.trait_souligne
	{
	padding-left: 92px;
	margin-left: 89px;
	width: 22%;
	}
		 
	#contenu 
	{
	flex-flow: row wrap;
	}
	.bloc_gauche
	{
	width: 100%;
	}
	.contenu_loisirs
	{
	margin: 0px;
	}
	#ordre
	{
		display: flex;
	}
	#ordre .bloc_gauche
	{
		order: 2;
	}
	#ordre #principal
	{
		order:1;
	}
	.formations, .exp_pro, .compétences
	{
		padding:0%;
	}
	section.formations 
	{
		padding-top: 15px;
	}
	.formations,.exp_pro,.compétences ul
		{
		/*! padding-left: 0px; */
		/*! padding-bottom: 0px; */
		padding: 0px;
	   }
	   .apropos p
	   {
		width: auto;
		height: auto;
	   }
	   .fas 
	   {
		   padding-left: 12px;
	   }
	   .trait_souligne_section
	   {
	margin-left: 11px;
	width: 95%;
	   }
}